In [2]:
# Appy python lists 4-3-3033 ramadan

القائمة عبارة عن هيكل بيانات يحتي علي بيانات في تسلسل مرتب للعناصر قابل للتغيير أو ميوتبل .

----

يسمى كل عنصر أو قيمة موجودة داخل القائمة عنصرًا -  - .
items

----


كما يتم تعريف السلاسل كأحرف بين علامتي اقتباس ،

----

يتم تعريف القوائم من خلال وجود قيم بين قوسين مربعين [].

----

وتنفيذ نفس الأساليب والعمليات على قيم متعددة في وقت واحد

----


يمكن ان تحتوي القوائم علي المزيد من انواع البيانات معا النصية والرقمية

In [3]:
# Write list and clalled 

NewList = ['A' , 'B' , 'C' , 1 , 2 , 3]
print(NewList)

['A', 'B', 'C', 1, 2, 3]

In [8]:
#Index Lists - الفهرسة - استدعاء البيانات بناء علي ترتيبها بين العناصر

print(NewList[0])
print(NewList[1])
print(NewList[5])

A
B
3

In [21]:
# Slice - التقطيع - استدعاء البيانات علي شكل أجزاء من بين العناصر

print(NewList[0:1])
print(NewList[1:5])
print(NewList[0:])
print(NewList[0::5]) #Start zero Stop five
print(NewList[2:5:2]) #Start from 2 and stop at 5 and let  tow step

['A']
['B', 'C', 1, 2]
['A', 'B', 'C', 1, 2, 3]
['A', 3]
['C', 2]

In [23]:
# Add the lists with string used format

print(f"Hi im learn python lists and you will see my list now it is {NewList} Thank You Much ")

Hi im learn python lists and you will see my list now it is ['A', 'B', 'C', 1, 2, 3] Thank You Much

In [36]:
#Nested Lists - القوائم المتداخلة - انشاء قائمة داخل قائمة

NestedList = [[1,2,3] ,['A' , 'B' , 'C'] ,['Pyhton' , 'Php' , 'Java']]
print(NestedList)
print(NestedList[0])
print(NestedList[1])
print(NestedList[2])
print(NestedList[0][1])
print(NestedList[1][1])
print(NestedList[2][2])

[[1, 2, 3], ['A', 'B', 'C'], ['Pyhton', 'Php', 'Java']]
[1, 2, 3]
['A', 'B', 'C']
['Pyhton', 'Php', 'Java']
2
B
Java

In [41]:
# other way for nested lists

A = ['Saeed' , "Ahmed" , "Sara"]
B = [1,2,3,4,5]
C = ['Python' , 'Ruby' , 'Css']

AllLists = [A  , B , C]

print(AllLists)


print(A[0])
print(B[1])
print(C[2])
print('-------')
print(AllLists[0][1])
print(AllLists[1][2])
print(AllLists[2][1])

[['Saeed', 'Ahmed', 'Sara'], [1, 2, 3, 4, 5], ['Python', 'Ruby', 'Css']]
Saeed
2
Css
-------
Ahmed
3
Ruby

# Function lists 

- len 
- append() Adds an element at the end of the list
- clear()  Removes all the elements from the list
- copy()   Returns a copy of the list
- count()  Returns the number of elements with the specified value
- extend()   Add the elements of a list (or any iterable), to the end of the current list
- index()    Returns the index of the first element with the specified value
- insert()   Adds an element at the specified position
- pop()      Removes the element at the specified position
- remove()   Removes the item with the specified value
- reverse ()  Reverses the order of the list
- sort()

In [48]:
#len
TowListNum = [1,2,3,4,5]
len(TowList)

2

In [47]:
#pop
TowListStr = ['A' , 'B' , 'C']
TowListStr.pop(1)
TowListStr

['A', 'C']

In [50]:
#append
TowListStr.append('D')
TowListStr

['A', 'C', 'D', 'D']

In [52]:
TowListStr.append(33)
TowListStr

['A', 'C', 'D', 'D', 33, 33]

In [54]:
# Clear
TowListStr.clear()
TowListStr

[]

In [57]:
#Copy
TowListStr = ['A' , 'B' , 'C']
x = TowListStr.copy()
x

['A', 'B', 'C']

In [59]:
#Count
TowListStr.count('B')

1

In [66]:
# Extend

X = ['a' , 'b' , 'c']
Y = [1,2,3]
X.extend(Y)
X

['a', 'b', 'c', 1, 2, 3]

In [67]:
# index

TowListStr = ['A' , 'B' , 'C']
TowListStr.index('A')

0

In [71]:
# insert

TowListStr = ['A' , 'B' , 'C']
TowListStr.insert(3 , 'D') # Mone the new item by order
TowListStr

['A', 'B', 'C', 'D']

In [72]:
# Remove


TowListStr.remove('A')
TowListStr

['B', 'C', 'D']

In [74]:
# Reverse

TowListStr.reverse()
TowListStr

['B', 'C', 'D']

In [81]:
#Sort number 
Z = [10,23,45,50,2,3,4]
Z.sort()
(Z)

[2, 3, 4, 10, 23, 45, 50]

In [84]:
#Sort string

Z = ['Sara' , 'Mohab' , "ezz"]
Z.sort()
(Z)

['Mohab', 'Sara', 'ezz']

In [87]:
# How To build data frame used lists

import pandas as pd 

ProgramingLang = ['Python' , 'PHP' , 'JAva' , 'C']
Prices = ['10$' , '20$' , '30$' , '40$']

dataframe = pd.DataFrame(list(zip(ProgramingLang , Prices)) , columns = ['Courses'  , 'Prices'])
dataframe

  Courses Prices
0  Python    10$
1     PHP    20$
2    JAva    30$
3       C    40$