In [1]:
# Python Sets 4 - 4 - 2022 3  Ramadan .

 تستخدم المجموعات لتخزين عدة عناصر في متغير واحد

-----

هي واحدة من 4 أنواع بيانات مضمنة في بايثون

-----

سيتس هي مجموعة غير مرتبة وغير قابلة للتغيير * وغير مفهرسة.

-----
 تستخدم المجنموعات الاقواس المعكوفة

In [10]:
#Create Set 

iphones1 = {"apple" , "Smsung" , "Shawmi"}
print(Set1)

#other way
X = set(Set1)
print(X)

{'Smsung', 'apple', 'Shawmi'}
{'Smsung', 'apple', 'Shawmi'}

In [12]:
# Duplicates Not Allowed


iphones1 = {"apple" , "Smsung" , "Shawmi" , "apple"}
iphones1

{'Shawmi', 'Smsung', 'apple'}

In [14]:
# Cannot Change

iphones1["0"] = "new"

TypeError: 'set' object does not support item assignment

In [17]:
#Not indexed 
iphones1[0]

TypeError: 'set' object is not subscriptable

# Set Methods

- add() Adds an element to the set
- clear() Removes all the elements from the set
- copy() Returns a copy of the set
- difference() Returns a set containing the difference between two or more sets
- difference_update() Removes the items in this set that are also included in another, specified set
- discard() Remove the specified item
- vintersection() Returns a set, that is the intersection of two or more sets
- intersection_update() Removes the items in this set that are not present in other, specified set(s)
- isdisjoint() Returns whether two sets have a intersection or not
- issubset() Returns whether another set contains this set or not
- issuperset() Returns whether this set contains another set or not
- pop() Removes an element from the set
- vremove() Removes the specified element
- vsymmetric_difference() Returns a set with the symmetric differences of two sets
- symmetric_difference_update()	inserts the symmetric differences from this set and another
- union() Return a set containing the union of sets
- update()

In [20]:
#add

pgnames = {"pyhon" , "php" , 'java'}
pgnames.add('C')
pgnames

{'C', 'java', 'php', 'puyhon'}

In [22]:
#clear 

pgnames.clear()
pgnames

set()

In [25]:
# Copy 

pgnames = {"pyhon" , "php" , 'java'}

x = pgnames.copy()

x

{'java', 'php', 'pyhon'}

In [30]:
# difference
 
X = {1,2,3,4,5} #What is here
Y = {1,2,30,40,50} # Not here

Z = X.difference(Y)

Z

{3, 4, 5}

In [32]:
# discard


pgnames = {"pyhon" , "php" , 'java'}

pgnames.discard('php') # Remove php

pgnames

{'java', 'pyhon'}

In [38]:
#  Remove


pgnames = {"pyhon" , "php" , 'java'}

pgnames.pop() # remove random

'php'

In [42]:
# remove

pgnames = {"pyhon" , "php" , 'java'}

pgnames.remove("php") # remove selected

pgnames

{'java', 'pyhon'}

In [45]:
# union 


X = {1,2,3,4,5}

Y = {1,2,30,40,50} 

Z = X.union(Y) #Remove dublicated

print(Z)

{1, 2, 3, 4, 5, 40, 50, 30}

In [48]:
# update

# Insert the items from set y into set x and let dublicated

X = {1,2,3,4,5} 

Y = {1,2,30,40,50} 

X.update(Y) 

print(X)

{1, 2, 3, 4, 5, 40, 50, 30}