# Python String

السلاسل في بيثون محاطة بعلامات اقتباس مفردة أو علامات اقتباس مزدوجة.


-----

يمكن كتابة النصوص باستخدام الاقواس الدائرية أو بدونها 

------

# Create Text

In [3]:
Books = "Python hrdway"

print(Books)

Python hrdway

# Multiline Strings

In [6]:
Story = """

    hi , my name is saeed , 29 years old , im from egypt
    but live in saudi arabia , i like python language
    for used in data science.


"""

print(Story)

    hi , my name is saeed , 29 years old , im from egypt
    but live in saudi arabia , i like python language
    for used in data science.

# Strings are Arrays

السلاسل عبارة عن مصفوفات ويمكن الوصول الي عناصرها باستخدام الفهرسة كما تعلمنا في الدروس السايقة

In [20]:
# Access Elements Array.

print(Books[1])
print(Books[0:10])
print(Books[1:])
print(Books[1:10:2])
print(Books[-1])

y
Python hrd
ython hrdway
yhnhd
y

# Loops String

In [21]:
for x in Story:
    
    print(x)

h
i

,

m
y

n
a
m
e

i
s

s
a
e
e
d

,

2
9

y
e
a
r
s

o
l
d

,

i
m

f
r
o
m

e
g
y
p
t






b
u
t

l
i
v
e

i
n

s
a
u
d
i

a
r
a
b
i
a

,

i

l
i
k
e

p
y
t
h
o
n

l
a
n
g
u
a
g
e






f
o
r

u
s
e
d

i
n

d
a
t
a

s
c
i
e
n
c
e
.

# Checks String used - in -

In [26]:
name = "Saeed Mohamed"
print("Saeed" in name)

True

In [29]:
name = "Sara Saeed"

if "Saeed" in name:
    
    print("yes")
    
else :
    
        print("Try Again")

yes

# Check string used Not in

In [30]:
if "Saeed" not in name:
    
    print("yes not here")
    
else:
    
    print("Again")

Again

# String Methods

- capitalize () 	Converts the first character to upper case
- lower( )  	    Converts a string into lower case
- title( )   	    Converts the first character of each word to upper case
- casefold( )      	Converts string into lower case
- upper( )          Converts a string into upper case
- count( )          Returns the number of times a specified value occurs in a string
- find( )           Searches the string for a specified value and returns the position of where it was found- - 
- replace( )        Returns a string where a specified value is replaced with a specified value
- swapcase( )       Swaps cases, lower case becomes upper case and vice versa
- join( )           Joins the elements of an iterable to the end of the string

In [32]:
# Capitalize 

A = "i learn Python"

print(A.capitalize())

I learn python

In [35]:
# Lower 

b = "PYTHON"
print(b.lower())

python

In [37]:
# title

b = "PYTHON"
print(b.title())

Python

In [39]:
# casefold

b = "PYTHON"
print(b.casefold())

python

In [41]:
# upper

b = "python"
print(b.upper())

PYTHON

In [43]:
# count - إرجاع عدد المرات التي تظهر فيها القيمة  في السلسلة:

A = " Python for Ds Python"
print(A.count("Python"))

2

In [47]:
# Find - أين يوجد  تكرار للسلسلة  في النص ؟:

A = " Python for Ds Python"
print(A.find("Python"))
print(A.find("for"))

1
8

In [49]:
# Replace - ترجع سلسلة حيث يتم استبدال قيمة محددة بقيمة محددة

Z = "one tow there"

x = Z.replace("one" , "oneee")
x

'oneee tow there'

In [51]:
# Swapcase - حالات المقايضة ، تصبح الأحرف الصغيرة كبيرة والعكس صحيح

C = "APC abc"

C.swapcase()

'apc ABC'

In [55]:
# join - ضم جميع العناصر في مجموعة في سلسلة ، باستخدام حرف معين:

String1 = "Hello Friend in python"
String1= "#".join(N)
print(S)

#Tuples

String2 = ("python" , "PHP" , "JAva")
C = "$".join(String2)
C

H#e#l#l#o# #F#r#i#e#n#d# #i#n# #p#y#t#h#o#n

'python$PHP$JAva'