# Tuples - 4 - 4 - 2022

. هو واحد من 4 أنواع بيانات مضمنة في بايثون تُستخدم لتخزين مجموعات من البيانات ، 

-------

أما الأنواع الثلاثة الأخرى فهي ،  قائمة ، المجموعات ، وقاموس ، وكلها ذات خصائص واستخدامات مختلفة. 

-------

تابلز هي مجموعات مرتبة وغير قابلة للتغيير.

-------

تتم كتابة المجموعات بأقواس مستديرة ().

-------
 عندما نقول أن المجموعات مرتبة ، فهذا يعني أن العناصر لها ترتيب محدد ، ولن يتغير هذا الترتيب.
 
 -----
 
 المجموعات غير قابلة للتغيير ، مما يعني أنه لا يمكننا تغيير العناصر أو إضافتها أو إزالتها بعد إنشاء المجموعة.
 
 -----
 
 السماح بالتكرارات نظرًا لأن المجموعات مفهرسة ، يمكن أن تحتوي على عناصر بنفس القيمة:

In [3]:
#ً Write Tuples

Tup1= ("DataScience" , "DataAnalysis" , "DataEngenieers")
Tup1

('DataScience', 'DataAnalysis', 'DataEngenieers')

In [5]:
#Cant Change

Tup1[0] = "A"

TypeError: 'tuple' object does not support item assignment

In [7]:
#Indexed 

Tup1[0]

'DataScience'

In [9]:
# Not Change items

Tup1['DataScience'] = "X"
Tup1

TypeError: 'tuple' object does not support item assignment

In [11]:
# Allow Duplicated 

Tup1= ("DataScience" , "DataAnalysis" , "DataEngenieers" , "DataScience")
Tup1

('DataScience', 'DataAnalysis', 'DataEngenieers', 'DataScience')

# Methods

- count() Returns the number of times a specified value occurs in a tuple
- index() Searches the tuple for a specified value and returns the position of where it was found

In [15]:
# Count 

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5 , 5)

x = thistuple.count(5) # how many repeated 5

print(x)

3

In [17]:
# index 


thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5 , 5)

x = thistuple.index(5) # index 5 in list

x

5